:root{
    --gold: #dbac35;
    --dark-gold: #CFA230;
    --platinum: #e8e8e8;
    --dark-blue:#001696;
    --light-blue:#0d4ce0;
    --dark-gray:#292923;
}

body {
    background-color: var(--platinum);
    color:var(--dark-gray);
}

h2{
    color:var(--dark-gray);
}

/* Bootstrap */
.bg-primary{
    background-color: var(--dark-blue)!important;
}

.btn-outline-primary{
    border-color: var(--dark-gold);
    color: var(--dark-gold);
}

.btn-outline-primary:hover{
    border: var(--dark-gold);
    background-color: var(--gold);
    color: var(--platinum);
}

.btn-primary{
    background-color:var(--gold);
    border: var(--gold);
}

.btn-primary:hover{
    background-color: var(--dark-gold);
}

.form-control:focus {
    border-color: var(--light-blue);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--dark-blue);
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.nav{
    border-color: var(--gold);
}

/* DataTables */
.page-item.active .page-link{
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

/* SVG Icons */
.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    align:center;
}


